:root {
  --base-100: #ffffff;
  --base-200: #000000;
  --base-300: #000000;
}

/* Réinitialisation des marges et paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 0.9;
}

h1 {
  font-size: clamp(4rem, 7.5vw, 10rem);
}
h2 {
  font-size: clamp(2.5rem, 4.5vw, 5rem);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.hero_conversation {
  position: relative;
  width: 100%;
  height: 175vh;
  color: var(--base-200);
  overflow: hidden;
}
.hero_conversation {
  background: #000000; /* ta couleur finale */
}
.hero_conversation_background {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero_conversation img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero_canvas {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  /* Masque le haut avec un gradient */
  mask-image: linear-gradient(to top, black 0%, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to top,
    black 0%,
    black 80%,
    transparent 100%
  );
}

.hero_conversation_content {
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero_conversation_content h2 {
  width: 75%;
  color: var(--base-300);
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-300);
  color: var(--base-100);
}

.about p {
  width: 40%;
  text-align: center;
}

@media (max-width: 1000px) {
  .hero-content h2,
  .about p {
    width: calc(100% - 4rem);
  }
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #2a2a2a;
  z-index: 1000;
  pointer-events: none;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-placeholder {
  width: 200px;
  height: 200px;
}

.logo-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
